@import url('https://fonts.googleapis.com/css?family=Jacques+Francois+Shadow|Roboto');
@import url('https://fonts.googleapis.com/css?family=Jacques+Francois+Shadow');
body {
  background-color: #feff4b;
  text-align: center;   
}
h1, h2, h3, h4, h5, h6{
  color: #ee54c2;
}
.header{
  font-family: 'Jacques Francois Shadow', cursive;
  font-size: 72px;
  padding: 50px;
  text-align: center;
}
.body{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  letter-spacing: 5px;
}
.main{
    font-size: 32px;
    padding: 15px;
}
.website{
    max-width:600px;
}
img.rr{
    align-content: right;
}
img.ll{
    align-content: left;
}