@import url('https://fonts.googleapis.com/css?family=Abel|Quando');

/* Global Styles */
html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: 'Abel', Arial, sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #4c4c4c;
}

/* Typography and Links */
h1, h2, h3, h4, h5, h6{
    font-family: 'Quando', Georgia, serif;
}

h1{
    font-size: 20px;
}

h2{
    font-size: 16px;
}

h5{
    font-size: 10px;
}

a{
    color: #000;
    transition: all .3s ease;
    text-decoration: none;
}

a:hover{
    color: #185861;
}

/* Layout and Header */

/* 50px = 2.5%
100 px = 5%*/
body{
    margin-top: 2.5%;
    margin-left: 2.5%;
}

img{
    float:left;
    padding: 20px;
}

header{
    display: inline-block;
    margin: 11% 5% 11% 5%;
    max-width: 350px;
    overflow: hidden;
    float:left;
}

.highlight{
    display: inline-block;
    width: 350px;
}

.About{
    max-width:350px;
}

.main{
    display: inline-block;
    margin: .5% 1.25% .5% 5%;
    float: left;
    overflow: hidden;
    max-width: 350px;
}

.main a{
    color: #000;
    transition: all 0.15s ease;
}

.main a:hover{
    color: cadetblue;
}

.Home{
    margin: 0px 0px 10px 0px;
    width: 300px;
    height: 30px;
    background-color: #e5e5e5;
    padding: 2px;
    display: inline-block;
    float: left;
    text-align:center;
    margin-right: 40px;
}

.Artworks{
    margin: 0px 0px 10px 0px;
    width: 300px;
    height: 30px;
    background-color: #e5e5e5;
    padding: 2px;
    display: inline-block;
    float: left;
    text-align:center;
    margin-right: 40px;
}

.WebDesign{
    margin: 0px 0px 10px 0px;
    width: 300px;
    height: 30px;
    background-color: #e5e5e5;
    padding: 2px;
    display: inline-block;
    float: left;
    text-align:center;
    margin-right: 40px;
}

.contact{
    margin: 0px 0px 10px 0px;
    width: 300px;
    height: 30px;
    background-color: #e5e5e5;
    padding: 2px;
    display: inline-block;
    float: left;
    text-align:center;
    margin-right: 40px;
}

.main > div:hover{
    background-color: #99f4ff;
}

.Resume{
    float: left;
    width: 700px;
    height: 800px;
    background-color: #e5e5e5;
    margin: 20px 20px 20px 12%;
}

.Download{
    float:left;
    width: 700px;
    height: 50px;
    background-color: #e5e5e5;
    margin: 20px 20px 20px 40.95%;
    text-align: center;
    padding-top: 12px;
}

.Download:hover{
    background-color: #99f4ff;
}