@import url('https://fonts.googleapis.com/css?family=Abel|Quando');

/* Global Styles */
html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: 'Abel', Arial, sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #4c4c4c;
}

/* Typography and Links */
h1, h2, h3, h4, h5, h6{
    font-family: 'Quando', Georgia, serif;
}

h1{
    font-size: 20px;
}

h2{
    font-size: 16px;
}

a{
    color: #3C9991;
    transition: all .3s ease;
    text-decoration: none;
}

a:hover{
    color: #185861;
}

/* Layout and Header */

/* 50px = 2.5%
100 px = 5%*/
body{
    margin-top: 2.5%;
    margin-left: 2.5%;
}

img{
    float:left;
    padding: 20px;
}

header{
    display: inline-block;
    margin: 11% 5% 11% 5%;
    max-width: 650px;
    overflow: hidden;
    float:left;
}

.highlight{
    display: inline-block;
    width: 350px;
}

.About{
    max-width:350px;
}

.main{
    display: inline-block;
    margin: 7.5% 1.25% 8% 5%;
    float: left;
}

.Artworks{
    width: 300px;
    height: 500px;
    background-color: #e5e5e5;
    padding: 250px 10px;
    display: inline-block;
    float: left;
    text-align:center;
    margin-right: 40px;
}

.WebDesign{
    width: 300px;
    height: 500px;
    background-color: #e5e5e5;
    padding: 250px 10px;
    display: inline-block;
    float: left;
    text-align:center;
    margin-right: 40px;
}

.Resume{
    width: 300px;
    height: 500px;
    background-color: #e5e5e5;
    padding: 250px 10px;
    display: inline-block;
    margin-right: 40px;
    float: left;
    text-align:center;
}

/* Responsive */
@media screen and (max-width:599px){
    body{
        margin: 20px;
    }
    .main{
        float: none;
        margin: 10px;
    }
}